{% extends "registration/base.html" %}
{% block title %}Reset Password{% endblock %}
{% block loginheader %} Reset Password {% endblock %}
{% block logincontent %}
<script>
	$(document).ready(function() {
		$('div.panel-login').find('input').addClass('form-control');
		});
</script>
<form class="form-horizontal" action="/accounts/password/reset/" method="post">
{% csrf_token %}
<div class="conatiner-fluid">
{% for err in form.non_field_errors %}
      <p class="error">{{ err }}</p>
{% endfor %}
{% for field in form %}
	<div class="col-md-12">
   		<div class="row">{{ field.label_tag }}</div>
   		<div class="row">{{ field.errors }}</div>
   		<div class="row">{{ field }}</div>
   	</div>
{% endfor %}
	<div class="col-md-12" style="padding: 10px 0px; text-align: center;">
		<input type="submit" value="Submit" style="width: auto;" />
	</div>
</div>
</form>
{% endblock %}