{% extends "portal/base.html" %}
{% load extra_templates %}
{% load humanize %}
{% block addstyles %}<link rel="stylesheet" href="/static/css/gethired.css">{% endblock%}
{% block title %} Get Hired {% endblock %}
{% block header %} Get Hired {% endblock %}
{% block content %}
<div class="filteroptions col-md-3">
<div class="filterdiv panel panel-default">
<div class="contain">
<h5><span class='labs'>Filter Posts:</span></h5>
<form method="GET" action="{% url 'filter_posts_gethired' %}">
<span class='labs'> Post Type: </span>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="post_type" value="interview"> Interview
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="post_type" value="offer"> Offer
        </label>
    </div>
    <span class='labs'> Company:</span>
	<select class="form-control combobox" name="company">
	<option value="ALL"></option>
    {% for c in filters.companies %}
    	<option value="{{c.name}}">{{c.name}}</option>
    {% endfor %}
	</select>
    <span class='labs'>State: </span>
        <select class="form-control combobox" name="location">
		<option value="ALL"></option>
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
        <option value="CO">Colorado</option>
        <option value="CT">Connecticut</option>
        <option value="DE">Delaware</option>
        <option value="DC">District Of Columbia</option>
        <option value="FL">Florida</option>
        <option value="GA">Georgia</option>
        <option value="HI">Hawaii</option>
        <option value="ID">Idaho</option>
        <option value="IL">Illinois</option>
        <option value="IN">Indiana</option>
        <option value="IA">Iowa</option>
        <option value="KS">Kansas</option>
        <option value="KY">Kentucky</option>
        <option value="LA">Louisiana</option>
        <option value="ME">Maine</option>
        <option value="MD">Maryland</option>
        <option value="MA">Massachusetts</option>
        <option value="MI">Michigan</option>
        <option value="MN">Minnesota</option>
        <option value="MS">Mississippi</option>
        <option value="MO">Missouri</option>
        <option value="MT">Montana</option>
        <option value="NE">Nebraska</option>
        <option value="NV">Nevada</option>
        <option value="NH">New Hampshire</option>
        <option value="NJ">New Jersey</option>
        <option value="NM">New Mexico</option>
        <option value="NY">New York</option>
        <option value="NC">North Carolina</option>
        <option value="ND">North Dakota</option>
        <option value="OH">Ohio</option>
        <option value="OK">Oklahoma</option>
        <option value="OR">Oregon</option>
        <option value="PA">Pennsylvania</option>
        <option value="RI">Rhode Island</option>
        <option value="SC">South Carolina</option>
        <option value="SD">South Dakota</option>
        <option value="TN">Tennessee</option>
        <option value="TX">Texas</option>
        <option value="UT">Utah</option>
        <option value="VT">Vermont</option>
        <option value="VA">Virginia</option>
        <option value="WA">Washington</option>
        <option value="WV">West Virginia</option>
        <option value="WI">Wisconsin</option>
        <option value="WY">Wyoming</option>
        <option value="AS">American Samoa</option>
        <option value="GU">Guam</option>
        <option value="MP">Northern Mariana Islands</option>
        <option value="PR">Puerto Rico</option>
        <option value="UM">United States Minor Outlying Islands</option>
        <option value="VI">Virgin Islands</option>
        <option value="IT"> International </option>

    </select>

    <span class='labs'>Job Title: </span>
        <select name="job_title">
		<option value="ALL"></option>
        <option value="SE">Software Engineer</option>
        <option value="SE">Software Developer</option>
        <option value="SE">Programmer</option>
        <option value="WD">Web Developer</option>
        <option value="ST">SE in Test</option>
        <option value="DE">DevOps Engineer</option>
        <option value="BA">Business Analyst</option>
        <option value="BA">Programmer Analyst</option>
        <option value="CO">Consultant</option>
        <option value="DB">Database Admin</option>
        <option value="HD">Help Desk Technician</option>
        <option value="NT">Network Engineer</option>
        <option value="NA">Network Administrator</option>
        <option value="PM">Product Manager</option>
    </select>

    <span class='labs'>Job Type: </span>
        <select name="job_type">
		<option value="ALL"></option>
        <option value="FT">Full Time</option>
        <option value="PT">Part Time</option>
        <option value="PI">Paid Internship</option>
        <option value="UI">Unpaid Internship</option>
        <option value="CO">Co-op</option>
        <option value="CC">Course Credit</option>
        <option value="CW">Contract Work</option>
        <option value="OT">Other</option>
    </select>
    <div style="padding-top: 5px;text-align: center;">
        <input type="submit" class="updatebtn btn btn-default" value="Update" />
        <a class="resetbtn btn btn-default" href="/gethired/" style="width: 75px;">Reset</a>
    </div> <!-- Button Div -->
	</form>
	</div>
</div> <!-- Filter Div -->
</div> <!-- Filter Options div -->
<div class="post_bar col-md-9">
<div class="container-fluid">
{% if user.is_authenticated %}
	<div class="row">
		<div class="col-md-12">
			<div class="btn-group" style="padding-top: 5px;">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">New Post <span class="caret"></span></button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="{% url 'render_new_post' post_type='interview' %}">Interview</a></li>
					<li class="divider"></li>
					<li><a href="{% url 'render_new_post' post_type='offer' %}">Offer</a></li>
				</ul>
			</div>
		</div>
	</div>
{% if company %}
	<div class="row">
		<div class="col-md-12 companyinfo panel">
			<h4>Company Info:</h4>
			<h1>{{company.name}}</h1>
			<p>Average Yearly Salary: ${{company.avg_salary|intcomma}}</p>
			<p>Average Interview Rating: <span class="stars">{{company.avg_interview_rating|floatformat:"0"|add:"0"|rating|safe}}</span></p>
			<p>Number of Interviews: {{company.num_interviews}}</p>
			<p>Number of Offers: {{company.num_offers}}</p>
		</div>
	</div>
{% endif %}
{% if not posts %}
	<div class="col-md-12 post-404 alert alert-danger">
		<p>Your search has returned no results.</p>
	</div>
{% endif %}
{% for post in posts %}
{% if not post.deleted %}
	<div class="posts panel">
    	<div class="row">
    		{% if post.post_type == "interview" %}
    		<p><span class="label label-success">{{post.post_type|title}}</span></p>
    		{% else %}
    		<p><span class="label label-warning">{{post.post_type|title}}</span></p>
    		{% endif %}
    	</div>
    	<div class="row">
 			<span class="Title" ><a class="norm" data-rel="tooltip" data-placement="right" title="Visit Company Data" href="/gethired/company/{{post.company.name|slugify}}">{{post.company.name}}</a></span> 
			<span class="Date"> {{post.date_posted|naturaltime|title}}</span>
		</div>
		<div class="container-fluid">
		<div class="row">
			<p class="post-preview-info"><span class="job_title"><a class="norm"  data-rel="tooltip" data-placement="right" title="Posts by Position" href="/gethired/filter/?company=ALL&amp;location=ALL&amp;job_title={{post.job_title}}&amp;job_type=ALL">{{post.get_job_title_display}}</a></span></p>
			<p class="post-preview-info"><span class="post-preview-info job_type"><a class="norm" data-rel="tooltip" data-placement="right" title="Posts by Job Type" href="/gethired/filter/?company=ALL&amp;location=ALL&amp;job_title=ALL&amp;job_type={{post.job_type}}">{{post.get_job_type_display}}</a></span></p>
			<p class="post-preview-info"><span class="location"><a class="norm" data-rel="tooltip" data-placement="right" title="Posts by Location" href="/gethired/filter/?company=ALL&amp;location={{post.location.state}}&amp;job_title=ALL&amp;job_type=ALL">{{post.location}}</a></span></p>
		</div>
		<div class="row">
			{% if post.post_type == "interview" %}
			<p><span class="post-preview">{{post.interview_process|tagline}}</span></p>
			{% else %}
			<p><span class="post-preview">{{post.other_details|tagline}}</span></p>
			{% endif %}
			
		</div>
		<a class="post-panel-link" href="{% url 'get_post' post_type=post.post_type.lower post_id=post.pk %}"><span class="post-link"></span></a>
    </div>
    </div>

{% endif %}
{% endfor %}

	{% if posts.has_other_pages %}
	<div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="{% append_to_get page=posts.previous_page_number %}">&lsaquo;&lsaquo;</a>
            {% endif %}

            <span class="current">
                Page {{posts.number}} of {{posts.paginator.num_pages}}
            </span>
            
            {% if posts.has_next %}
                <a href="{% append_to_get page=posts.next_page_number %}">&rsaquo;&rsaquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
{% else %}
<div class ="row">
	<div class="col-md-12 post-404 alert alert-info">
		<p>We are sorry, access is restricted to UNC CS Students for this part of the website.</p>
		<p><a href="/accounts/login/?next=/gethired/">Click here to login!</a></p>
	</div>
</div>
{% endif %}
</div>
</div>
{% endblock %}
