{% extends "portal/base.html" %}
{% load extra_templates %}
{% load static %}
{% load humanize %}
{% block addstyles %}<link rel="stylesheet" href="/static/css/gethired.css">{% endblock%}
{% block title %} Get Hired {% endblock %}
{% block header %} Get Hired {% endblock %}
{% block content %}
<div class="filteroptions col-md-3">
<div class="filterdiv panel panel-default">
<div class="contain">
<div class="container-fluid">
	<div class="row">
		<h5><span class='labs'>Related Posts:</span></h5>
		{% for post in related_posts %}
			<div class="col-md-12 related-post" data-num="{{forloop.counter}}">
				<div class="row">
        			<a class="postLinks" href="{% url 'get_post' post_type=post.post_type.lower post_id=post.pk %}">{{post.company}} - {{post.post_type|title}}</a><br>
				</div>
				<div class="row related-post-location">
					{{post.location}}
				</div>
			</div>
			<div class="hover-test" style="display: none;" data-num="{{forloop.counter}}">
				<p>Date posted: <span class="data">{{post.date_posted|naturalday|title}}</span></p>
				<p>Job Title: <span class="data">{{post.get_job_title_display}}</span></p>
				<p>Job Type: <span class="data">{{post.get_job_type_display}}</span></p>
			</div>
		{% endfor %}
	</div>
</div>
</div>
</div>
</div>
<script>
		$(document).ready(function(){
			$(document).scrollTop( $("div.navrow").offset().top );
			console.log(document.referrer);
			var refer = new URI(document.referrer);
			console.log(refer.host());
			console.log(refer);
			var edit = refer.path().indexOf("edit");
			var newind = refer.path().indexOf("new");
			if(edit > -1){
				$('.btn-go-back').hide();
			}
			if(newind > -1){
				$('.btn-go-back').hide();
			}
			if(refer.host() != "localhost:8000"){
				$('.btn-go-back').hide();
			}
		});
</script>
<div class="post_bar col-md-9">
<div class="postview col-md-12">
	<div class="container-fluid">
		<div class="postview-button-row row">
			<button onclick="window.history.back()" class="btn pull-left btn-info btn-go-back">Go Back</button>
			{% if user.username == post.author.username %}
				<form id="delete" method="post" action="{% url 'delete_post' post_type=post.post_type post_id=post.pk %}">
					 {% csrf_token %}
				<div class="btn-group pull-right " style="padding-top: 5px;">
					<button type="button" class="btn btn-info btn-edit  dropdown-toggle" data-toggle="dropdown">Edit/Delete Post<span class="caret"></span></button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="{% url 'render_edit_post' post_type=post.post_type post_id=post.pk %}">Edit Post</a></li>
					<li class="divider"></li>
					<li><a href="javascript:void()" id="submit_link">Delete Post</a></li>
				</ul>
				</div>
				</form>
			{% endif %}
		</div> <!-- Button Row -->
	</div>
	<div class="container-fluid">
		<div class="row">
    		<div class="title col-md-12">
    			<div class="row">
    				<h3 class="title"><a href="/gethired/company/{{post.company|slugify}}">{{post.company}}</a></h3>
    				{% if post.post_type == "interview" %}
                    <span class="postview-label label label-success">{{post.post_type|title}}</span>
               		{% else %}
                    <span class="postview-label label label-warning">{{post.post_type|title}}</span>
               		{% endif %}
    				<span class="date">Posted: {{post.date_posted|naturalday|title}}</span>
				</div>
				<div class="row postview-upperinfo">
					<div class="container-fluid">
						<div class="row">
							<span class="job_title lab">Job Title: <span class="content"><a class="norm" href="/gethired/filter/?company=ALL&amp;location=ALL&amp;job_title={{post.job_title}}&amp;job_type=ALL">{{post.get_job_title_display}}</a></span></span>
						</div>
						<div class="row">
							<span class="job_type lab">Job Type: <span class="content"><a class="norm" href="/gethired/filter/?company=ALL&amp;location=ALL&amp;job_title=ALL&amp;job_type={{post.job_type}}">{{post.get_job_type_display}}</a></span></span>
							 {% if post.post_type == "interview" %}  
							<span class="rating lab">Interview Experience:<span class="stars"> {{post.interview_rating|rating|safe}}</span></span>
							{% endif %}
						</div>
						<div class="row postview-about-row">
							<div><img alt="location" src="{% static "/static/images/gethired/map_location_test.png" %}"><span class="postview-location"><a href="/gethired/filter/?company=ALL&amp;location={{post.location.state}}&amp;job_title=ALL&amp;job_type=ALL">{{post.location}}</a></span></div>
							<div><img alt="graduation cap" src="{% static "/static/images/gethired/grad_cap_test_g.png" %}"><span>{{post.applicant_degree|normdegree}}</span></div>
							<div><img alt="thumbsup" src="{% static "/static/images/gethired/thumbs_up_test.png" %}"><span class="postview-offer">{{post.get_offer_status_display}}</span></div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- Title Row -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
    				{% if post.post_type == "interview" %}
    				<div class="row postview-interview-info-row">
    					{% if post.offer_details %} 
    					<label>Link to Offer:</label>
    					<p class="offer_details"><a href=/gethired{{post.offer_details.url_slug}}>{{post.offer_details.company.name}}, {{post.location}}</a></p>
    					{% endif %}
    					{% if post.related_interview %} 
    					<label>Related Interview at this company:</label>
    					<p class="related_interview"><a href="/gethired{{post.related_interview.url_slug}}">{{post.related_interview.get_interview_type_display}}</a></p>
    					{% endif %}

    					<label>Date of Interview:</label>   
    					<p class="date-interviewed">{{post.date_interviewed}}</p>
    					<label>Type of Interview:</label>   
    					<p class="date-interviewed">{{post.get_interview_type_display}}</p>
    					<label>Details:</label>   
    					<p class="process well">{{post.interview_process}}</p>
    					<label>Questions Asked:</label>   
    					<p class="questions well">{{post.questions_asked}}</p>
    				</div>
    				{% else %}
    				<div class="row postview-salary-block-row">
    					<div class="postview-salary-blocks">
    						<label>Salary:</label>
							{% if post.display_salary %}<p class="salary"><span class="content">${{post.salary|intcomma}}{{post.get_pay_type_display|normsalarytype}}</span></p>{% endif %}
						</div>
						<div class="postview-salary-blocks">
							<label>Signing Bonus:</label>
    						{% if post.display_salary %}<p class="bonus"><span class="content">{% if not post.signing_bonus %} N/A {% else %}${{post.signing_bonus|intcomma}} {% endif %}</span></p>{% endif %}
    					</div>
    					<div class="postview-salary-blocks">
    						<label>Relocation:</label>
    						{% if post.display_salary %}<p class="relocation"><span class="content">{% if not post.signing_bonus %} N/A {% else %}${{post.relocation_bonus|intcomma}}{% endif %}</span></p>{% endif %}
    					</div>
    				{% if not post.display_salary %}
    				<p><span class="content">The poster has elected to not display their salary information.</span></p>
    				{% endif %}
    				</div>
    				
    				<div class="row postview-offer-info-row">
    					{% if post.interview %}
    					<label>Link to Interview:</label>
    					<p><a href="/gethired{{post.interview.url_slug}}">{{post.interview.company.name}}, {{post.interview.location}}</a></p>
    					{% endif %}
    					<label>Status:</label>
    					<p class="status">{{post.get_offer_status_display}}</p>
    					{% if post.other_details %}
    					<label>Details:</label>
    					<p class="details">{{post.other_details}}</p>
   		 			</div>
   		 			{% endif %}

   		 			{% endif %}
    			</div>
    		</div>
		</div>
		<div class="postview-report-rate row">
    		<div class="content">
    			<p>Report this post</p>
    		</div>
    	</div>
	</div>
</div>
</div>
{% endblock %}


