@CHARSET "ISO-8859-1";

html{
	height: 100%;
}

body {
	overflow-x: hidden;
	background: url(../images/background.jpg) no-repeat center center fixed;
	font-family : "Open Sans";
	font-size: 15px;
	font-family: "Open Sans";
	height: 100%
}

div.main-container{
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
	height: 100%;
}

h2.styled{
	font-family: 'Roboto Condensed';
	color: #56A0D3;
}
.tooltip{
	font-size: 12px;
	font-weight: 500;
}

.tooltip.in{
	opacity: 0.5;
}

.back-to-top {
	position: fixed;
	bottom: 2%;
	left: 20%;
	display: none;
	height: 47px;
	width: 46px;
	z-index: 3;
	text-decoration: none;
	text-align: center;
	background: url(../images/backtotoptestinvert.png) no-repeat 0% 105% transparent;
}

a.back-to-top:focus{
	outline:none;
}
a.back-to-top:hover {
	position: fixed;
	bottom: 2%;
	left: 20%;
	display: none;
	height: 47px;
	width: 46px;
	z-index: 3;
	text-decoration: none;
	text-align: center;
	background: url(../images/backtotoptestinvert.png) no-repeat 0% 0% transparent;
	outline: none;
}

.back-to-top span {
	position: fixed;
	bottom: 1em;
	left: 17em;
}

div.main {
	background-color: #fbfafa;
	margin-top: 10px;
	margin-bottom: 0px;
	float: none;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: 0px 0px 39px 9px #282828;
	-moz-box-shadow: 0px 0px 39px 9px #282828;
	box-shadow: 0px 0px 39px 9px #282828;
	padding-bottom: 50px;
	border-radius: 4px;
}

div.logorow {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	/*background: url(../images/braintech.jpg) no-repeat 15% 85% transparent;*/
	background: #000000;
	border: 0px solid #808080;
	border-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

div.logocontainer {
	width: 100%;
	height: 100%;
}

div.logo {
	background-color: #8C8C8C;
	opacity: .95;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

div.post_bar {
	overflow-x: hidden;
	overflow-y: auto;
}

div.postBar {
	overflow-x: hidden;
	overflow-y: auto;
}

span.logo {
	color: #f4f4f4;
	font-family: 'Droid Serif', 'Arial', 'Helvetica', sans-serif;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
}

span.unc {
	color: #56a0d3;
}

span.logotag {
	color: #56a0d3;
	font-family: 'Roboto Condensed';
	font-size: 22px;
	text-shadow: 1px 1px 1px black;
}

div.navrow{
	background: url(../images/pw_maze_black.png);
	border: 0px solid #808080;
}

div.navbar {
	margin-top: 10px;
	min-height: 0px;
	text-align: center;
	min-hieght: 0px;
	margin-bottom: 0px;
}

ul.navlist {
	list-style: none;
}

ul.navlist li {
	display: inline;
	list-style: none outside none;
	filter: inherit;
	width: auto;
	height: 10px;
	text-align: left;
}

span.glyphicon {
	font-size: 23px;
	padding-left: 4px;
}

ul.navlist li a {
	color: #428BCA;
	font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
	font-size: 20px;
	line-height: 20px;
	padding: 0px 15px 0px;
	text-decoration: none;
	outline: none;
}

ul.navlist li a:hover {
	color: white;
}
ul.navlist li a.current:after{
  content: "";
  margin-left: -15px; /* <-- moves it back half it's own width */
  width: 0px; /* <-- don't need unit on 0 */
  height: 0px; /* <-- don't need unit on 0 */
  xxmargin: 0px auto; /* <-- eliminate, use above margin */
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white; /* <-- change to bottom for up arrow */
  position: absolute;
  bottom: 1px;
}

ul.navlist li a:hover:after {
  content: "";
  margin-left: -15px; /* <-- moves it back half it's own width */
  width: 0px; /* <-- don't need unit on 0 */
  height: 0px; /* <-- don't need unit on 0 */
  xxmargin: 0px auto; /* <-- eliminate, use above margin */
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #f00; /* <-- change to bottom for up arrow */
  position: absolute;
  bottom: 1px;
}

ul.navlist li a.current {
	color: #D7EBF9;
}

div.info {
	background-color: #56a0d3;
	color: white;
	font-family: 'Roboto Condensed';
}

div.info h1 a{
    color: white;
    text-decoration: none;
}

div.info h1 a:hover{
    color: rgba(222, 218, 218, 1);
}

div.user-bar {
	border-bottom: thin solid #dbdbdb;
	padding-bottom: 10px margin-bottom: 15px;
}

div.footer {
	background: url(../images/pw_maze_black.png);
}

ul.footernav {
	padding-top: 3px;
	text-align: center;
}

ul.footernav li {
	display: inline;	
	padding: 6px;
}

.filterdiv {
	margin-top: 9px;
}

a.post-panel-link {
	text-decoration: none;
	outline: none;
}

div.posts {
	padding: 10px 30px 30px 30px;
	border: thin solid #dbdbdb;
	margin: 10px;
	font-size: 18px;
	color: #428BCA;
	height: 220px;
	width: 99%;
	display: block;
	position: relative;
}

span.post-link{
	position:absolute; 
	width:100%;
	height:100%;
	top:0;
	left: 0;
	z-index: 1;
}

a.norm{
	position:relative;
	z-index: 2;
}

div.posts:hover {
	background-color: #f5f5f5;
}

div.posts span.Title {
	font-size: 22px;
	font-weight: bold;
	float: left;
}

p.post-preview-info{
	font-size: 14px;
	margin-bottom: 2px;
	
}

div.posts span.Date {
	float: right;
	color: black;
	font-size: 14px;
}

span.post-preview{
	font-size: 12px;
	color: #B2B2B2;
}

div.filterdiv div.contain {
	margin: 10px;
}

div.filterdiv div.contain span.labs {
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
	color: #428bca;
}

div.filterdiv div.contain input.btn {
	margin: 5px;
}

div.filterdiv select {
	font-size: 14px;
}

/* postView CSS */
div.postview {
	color: #737373;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #FFF;
	border: 1px solid transparent;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
	border-color: #DDD;
}

div.postview-button-row{
    margin-top: 10px;
    margin-bottom: 10px;
}

a.btn-edit, button.btn-go-back{
    background-color: #6D92AB;
    border-color: #6D92AB;
}


h3.title {
	color: #56A0D3;
	float: left;
	font-family: 'Droid Serif';	
	line-height: 0px;
}

div.postview span.lab{
    color: inherit;
    font-weight: 600;
    font-size: inherit;
}

span.postview-label{
    margin-left: 5px;
    font-size: 12px;
}

div.postview span.date{
    font-weight: 700;
    font-size: 12px;
    padding-top: 10px;
}

div.postview span.content{
	color: #4390c6;
    font-weight: 500;
}

div.postview-upperinfo{
	margin:2px;
    padding: 10px 0px;
	margin-top: 15px;
    font-size: 14px;
    border-top: 1px dashed #dbdbdb;
}

div.related-post{
    font-size: 14px;
    background-color: #fafafa;
    border: 1px solid #bcbbbb;
    padding-top: 4px;
    margin-bottom: 8px;
    padding-bottom: 4px;
    border-radius: 3px;
    text-align: center;
}

div.related-post:hover{
	background-color: #ffffff;
}

/*New Post CSS*/
div.newform h2 {
	font-family: 'Roboto Condensed';
	color: #56A0D3;
}

div.newform {
	color: #417ba3;
}

div.newform select{
	font-size: 12px;
}

div.newform label.control-label{
	text-align: left;
	font-size: 14px;
}

ul.errorlist {
	color: red;
	font-weight: bold;
	list-style: none;
	font-size: 12px;
}

.error{
	color: red;
}

div.post-404{
	text-align: center;
	margin-top: 50px;
}

div.pagination{
	float:right;
}

div.filterdiv select{
	width: 90%;
}

input.ui-autocomplete-input{
	font-size: 12px;
	height: 24px;
	border-radius:0px;
	width: 100%;
}

ul.ui-autocomplete{
	max-height: 150px;
	overflow-y: auto;
	font-size: 12px;
}

.required{
    color: red;
    font-size: 10px;
}

div.hover-div{
    width: 200px;
    height: 100px;
    font-size: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    opacity: .80;
    border: 1px solid #dbdbdb;
    z-index: 2;
}

div.hover-div span{
    color: #428BCA;
    font-weight: 700;
}

button.ui-corner-right{
	background-color: #fff;
}

div.panel-login, div.panel-login div.panel-heading{
	color: #428BCA;
}

div.panel-login a{
	color: #939191;
}

ul.profile-list{
    list-style: none inside none;
    border-radius: 5px;
    border: 1px solid #fbfbfb;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

ul.profile-list li:last-child{
    border-bottom: none;
}

ul.profile-list li{
    display: block;
    border-bottom: 1px solid #fbfbfb;
    padding: 5px 10px;
}

h4.profile-header{
    font-family: 'Roboto Condensed';
    color: #56A0D3;
    font-weight: 600;
}

ul.profile-links{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

div#id_technologies_chosen input{
	height: 100%;
}

div.helpfulhints img{
    padding: 50px 0px;
    width: 100%;
}

div#id_description_container{
	margin: auto;
}
