{% extends "portal/base.html" %}
{% load extra_templates %}
{% load humanize %}
{% block title %} User Dashboard {% endblock %}
{% block header %} User Dashboard {% endblock %}
{% block content %}
<script>
	$(document).ready(function() {
		$('div.panel-login').find('input').addClass('form-control');
		});
</script>
<div class="filterdiv profile-links col-md-3">
	<div class="profile-links panel panel-default">
		<div class="contain" style="text-align: center;">
			<ul class="profile-links">
				<li><a href="/accounts/profile">Dashboard</a></li>
				<li><a href="/accounts/password/change/">Change Password</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="profle-dash col-md-9">
	<div class="container-fluid">
		<h2 class="styled">User Dash</h2>
		<div class="row">
			<div class="col-md-12">
			<p>Username: {{user.username}}</p>
			<div class="col-md-12">
				<div class="container-fluid">
					<div class="col-md-9 col-md-offset-1">
						<div class="panel panel-login panel-default" style="margin: 10px 0px;">
							<div class="panel-heading">Password Change</div>
								<div class="panel-body" style="text-align:center;">
									<form class="form-horizontal" action="/accounts/password/change/" method="post">
									{% csrf_token %}
									<div class="conatiner-fluid">
										{% for err in form.non_field_errors %}
										<p class="error">{{ err }}</p>
										{% endfor %}
										{% for field in form %}
										<div class="col-md-12">
   											<div class="row">{{ field.label_tag }}</div>
   											<div class="row">{{ field.errors }}</div>
   											<div class="row">{{ field }}</div>
   										</div>
										{% endfor %}
										<div class="col-md-12" style="padding: 10px 0px;;">
											<input type="submit" value="Submit" style="width: auto; margin: auto;" />
										</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}